<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>

<div *ngIf="!isLoggedIn">
  Username: <input type="text" [(ngModel)]="username"/><br/>
  Password: <input type="password" [(ngModel)]="password"/><br/>
  <button (click)="login()">Login</button>
  <hr/>
</div>

Image <input [(ngModel)]="captureImage" type="file" accept="image/*" (change)="onChangeImage($event)" capture> <br/>
Document <input [(ngModel)]="captureDocument" type="file" accept="image/*" (change)="onChangeDocument($event)" capture> <br/>

<h4>{{imageTitle}}</h4>

<ul class="flex-container">
<li style="padding: 2px" class="column" *ngFor="let o of images">
  <img style='display:block; width:100px;height:100px; border: 1px solid brown; margin: 1px' src="{{o}}"/>
</li>
</ul>
<a href="javascript:void(0)" (click)="deleteMediaUpload('image')">Clear</a>

<h4>{{documentTitle}}</h4>
<ul class="flex-container">
  <li style="padding: 2px" class="column" *ngFor="let o of documents">
      <img style='display:block; width:100px;height:100px;border: 1px solid brown; margin: 1px' src="{{o}}"/>
  </li>
</ul>
<a href="javascript:void(0)" (click)="deleteMediaUpload('document')">Clear</a>
<br/>
<hr/>
<button (click)="performBackgroundPing()">{{pingInterval ? 'STOP BACKGROUND GPS PING' : 'START BACKGROUND GPS PING'}}</button>&nbsp;
<button (click)="sendPing()">SEND PING</button>

<h4>Signature</h4>
<div style="border: 1px solid brown; margin-top: 5px;">
    <signature-pad
    (onBeginEvent)="drawStart()" 
    (onEndEvent)="drawComplete()"
    [options]="signaturePadOptions" >
  </signature-pad>
</div>
<a href="javascript:void(0)" (click)="signaturePad.clear()">Clear</a>

<div>
  <p> Date: {{ currentDateTime | date:'yyyy-MM-dd hh:mm:ss' }}</p>
  <p> DeviceId: {{ pushNotifId }}</p>
  <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
</div>

